
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Index</h2>

<a href="@Url.Action("Index", "usuarios")">~/Views/usuarios/Index.cshtml</a>
<br />
<a href="@Url.Action("Index", "rols")">~/Views/rols/Index.cshtml</a>
<br />
<a href="@Url.Action("Index", "roloperacions")">~/Views/roloperacions/Index.cshtml</a>
<br />
<a href="@Url.Action("Index", "operaciones")">~/Views/operaciones/Index.cshtml</a>
<br />
<a href="@Url.Action("Index", "moduloes")">~/Views/moduloes/Index.cshtml</a>