@model WebAppOpenGate.Models.Planeacion.wharehouse

@{
    ViewBag.Title = "Create";
    Layout = null;
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="modal-header" style="text-align:center">
        <h2 class="modal-title">Crear Wharehouse</h2>
    </div>
    <div class="modal-body">
        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.nomenclatura, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.nomenclatura, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.nomenclatura, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.descripcion, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.descripcion, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.descripcion, "", new { @class = "text-danger" })
                </div>
            </div>                        
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button id="Crear" type="submit" class="btn btn-primary" data-loading-text="Loading..." autocomplete="off">Crear</button>
    </div>    
}