@model IEnumerable<WebAppOpenGate.Models.Planeacion.asignacionwhintransit>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPlaneacion.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.fechaalta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.requisition)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.wh)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.fechaalta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.requisition)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.wh)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
