@model List<WebAppOpenGate.ViewModels.PlaneacionViewModel>
@{
    ViewBag.Title = "_ConsultaSkus";
    Layout = null;
}

@ViewBag.WH

@if (Model != null)
{
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Bloque</th>
                <th>Item</th>
                <th>Multiplo Sutido</th>                
                <th>QTY On Hand</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.OrderBy(x => x.bloque))
            {
            <tr>
                <td>@item.bloque</td>
                <td>@item.sku</td>
                <td>@item.multiplosurtido</td>                
                <td>@item.qtyonhand</td>
            </tr>
            }
        </tbody>
    </table>

}
else
{
    <label>Empty</label>
}