@model IEnumerable<WebAppOpenGate.ViewModels.PlaneacionViewModel>

@{
    ViewBag.Title = "_ConsultaSkus";
    Layout = null;
}



<table class="table tableFixHead">
    <thead>
        <tr>
            <th>SKU</th>
            <th>Multiplo de Surtido</th>
            <th>Maximo</th>
            <th>Minimo</th>
            <th>QTY OnHand CV</th>
            <th>QTY OnHand CEDIS</th>
            <th>QTY OnHand Clidad</th>
            <th>QTY OnHand MX3</th>
            <th>Coverage Weeks</th>
            <th>Clasificacion</th>
        </tr>
    </thead>
    <tbody>
        @{ int i = 0; }
        @foreach (var item in Model)
        {
        <tr>
            @{
                i++;
                <td tabindex="@i">@item.sku</td>
                i++;
                <td tabindex="@i">@item.multiplosurtido</td>
                i++;
                <td tabindex="@i">@item.maximo</td>
                i++;
                <td tabindex="@i">@item.minimo</td>
                i++;
                <td tabindex="@i"> <span class="read">@item.qtyonhandcv</span> <div class="txtedit"><form><input id="text" type="text" value="@item.qtyonhandcv" /><input type="submit" value="Guardar" /> </form></div> </td>
                i++;
                <td tabindex="@i">@item.qtyonhandcedis</td>
                i++;
                <td tabindex="@i">@item.qtyonhandcalidad</td>
                i++;
                <td tabindex="@i">@item.qtyonhandmx3</td>
                i++;
                <td tabindex="@i">@item.coverageweeks</td>
                i++;
                <td tabindex="@i">@item.clasificacion</td>
            }
        </tr>
        }

    </tbody>
</table>

<style type="text/css">
    * {
        font-size: 12px;
        font-family: 'Helvetica', Arial, Sans-Serif;
        box-sizing: border-box;
    }

    .tableFixHead {
        overflow-y: auto;
        height: 100px;
    }

    .tableFixHead thead th {
        position: sticky;
        top: 0;        
    }    

    th, td {
        padding: 8px 16px;
    }

    th {
        background: #eee;
    }

    table, th, td {
        border-collapse: collapse;
        border: solid 1px #ccc;
        padding: 10px 20px;
        text-align: center;
    }

    th {
        background: #0f4871;
        color: #fff;
    }

    tr:nth-child(2n) {
        background: #f1f1f1;
    }

    td:hover {
        color: #fff;
        background: #CA293E;
    }

    td:focus {
        background: #82E0AA;
    }

    .editing {
        border: 2px dotted #c9c9c9;
    }

    #edit {
        display: none;
    }

    .txtedit {
        display: none;
    }
</style>

<script type="text/javascript">
    var currCell = $('td').first();
    var currTr = $('tr').first();
    var editing = false;

    // User clicks on a cell
    $('td').click(function () {
        currCell = $(this);        
    });

    // Show edit box
    function edit() {
        editing = true;        
        currCell.closest('tr').find('.read').hide();
        currCell.closest('tr').find('.txtedit').show();  
        currCell.closest('tr').find('.txtedit #text').select();  
        currCell.toggleClass("editing");        
    }

    // User saves edits
    $('.txtedit form').submit(function (e) {
        editing = false;
        e.preventDefault();
        // Ajax to update value in database
        $.get('#', '', function () {
            $('#edit').hide();            
            currCell.closest('tr').find('.read').html(currCell.closest('tr').find('.txtedit #text').val());
            currCell.closest('tr').find('.read').show();
            currCell.closest('tr').find('.txtedit').hide();
            currCell.toggleClass("editing");                        
            currCell.focus();
        });
    });

    // User can cancel edit by pressing escape
    $('.txtedit #text').keydown(function (e) {
        if (editing && e.which == 27) {
            editing = false;            
            currCell.closest('tr').find('.read').show();            
            currCell.closest('tr').find('.txtedit').hide();  
            currCell.toggleClass("editing");
            currCell.focus();
        }        
    });
       
    // User navigates table using keyboard
    $('table').keydown(function (e) {
        var c = "";
        if (e.which == 39) {
            // Right Arrow
            c = currCell.next();
        } else if (e.which == 37) {
            // Left Arrow
            c = currCell.prev();
        } else if (e.which == 38) {
            // Up Arrow
            c = currCell.closest('tr').prev().find('td:eq(' +
                currCell.index() + ')');
        } else if (e.which == 40) {
            // Down Arrow
            c = currCell.closest('tr').next().find('td:eq(' +
                currCell.index() + ')');

        } else if (!editing && (e.which == 13 || e.which == 32)) {
            // Enter or Spacebar - edit cell
            e.preventDefault();

            //Si la celda seleccionada es la indicada se activara la edicion
            if (currCell.index() === 4 ) {                
                edit();
            }                        
        } else if (!editing && (e.which == 9 && !e.shiftKey)) {
            // Tab
            e.preventDefault();
            c = currCell.next();
        } else if (!editing && (e.which == 9 && e.shiftKey)) {
            // Shift + Tab
            e.preventDefault();
            c = currCell.prev();
        }

        // If we didn't hit a boundary, update the current cell
        if (c.length > 0) {
            currCell = c;
            currCell.focus();
        }
    });
</script>